<!doctype html>
<html lang=sv>
  <head>
    <meta charset=UTF-8>
    <title>Anders Ytterströms hemsida</title>
    <meta name=viewport content="width=device-width">
    <link rel=stylesheet title="madr.se stilmall" href=../../assets/madrse.css>
    <meta name=robots content=noindex,follow>
    <link rel=next href=/2>
    <link href=/prenumerera.xml type=application/atom+xml rel=alternate title=madr.se>
  </head>
  <body>
    <a href=#content class=skiplink>Hoppa till innehåll</a>
    <header>
      <img class="portrait" src="https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276" alt="Anders, september 2018.">
      <nav>
        <h2 class="visuallyhidden">Meny</h2>
        <a class="nav__item" href=/bl/ >🤘 Brütal Legend</a>
        <a class="nav__item" href=/evenemang/ >📅 Evenemang</a>
        <a class="nav__item" href=/agbok/ >🖼 Agbok</a>
      </nav>
    </header>
    <main id=content>
        <p class="alert--archived"><i>
            Detta är ett arkiverat inlägg, som importerats
            hit för referens. Det kan se konstigt ut och
            innehålla utdaterad information eller inaktuella
            åsikter.
          </i></p>
          <article>
            <h1>En rubrik</h1>
            <h1>En jättelång rubrik som fylls ut med massa ord för att löpa över två rader</h1>
            <p>
              Ett stycke text som bör hamna på 2-3 rader för att visa hur linjehöjd och liknande fungerar. 
              En <a href="om">länk är bra</a> för att visa hur den poppar ut i löpande text.
            </p>
            <h2>Firefox</h2>

            
            <p>Min fördragna webbläsare sedan 2004, med ett par år på övervakade paradis-ön Chrome som undantag.</p>
            <blockquote><p>Bevingat citat</p></blockquote>

<p>Det är en hjärtefråga snarare än ett val baserat på kvalifikationer. Såväl Safari som Chrome är bättre webbläsare, objektivt sett.</p>
            <h2>Instruktioner för att lyckas med att brygga kaffe varje gång</h2>
            <p>
              Nedanstående gäller all typ av handbryggt kaffe, oavsett utrustning.
            </p>
            <ol>
              <li>Koka vatten i vattenkokare.</li>
              <li>Förbered bryggningen genom att placera ett filter i filtertratten, och placera filtertratten på en mugg eller en tillbringare.</li>
              <li>Mal bönor grovt, tänk någonstans mellan quinoa och couscous. 14g för 2 koppar (200-250ml), 21g för 3 koppar (300-333ml).</li>
              <li>Häll över det kokande vattnet i en bryggkanna med svanhals.</li>
              <li>Blöt upp filtret genom att tillsätta litet vatten i bryggtratten.</li>
              <li>Avlägsna vattnet från filtersköljningen.</li>
              <li>Lägg det malda kaffet i filtret.</li>
              <li>Häll rikligt med vatten på kaffet, så att kaffet blommar och blir blötlagt.</li>
              <li>Rör eventuellt om i kaffet för att fördela vätan.</li>
              <li>Tillsätt vatten i en tunn stråle, med cirkelrörelser inifrån och ut. Låt kaffet vara 
                täckt av ett par millimeter vatten, och tillsätt mer vatten när vattnet sjunkit undan såpass att kaffe är 
                ovanför vattenytan.</li>
              <li>När önskad mängd kaffe nästan är uppnåd, sluta tillsätt vatten.</li>
              <li>Låt det sista av vattnet rinna igenom under ca en minut.</li>
              <li>Servera kaffet.</li>
            </ol>
            <p>Önskas mer exakt vattenmängd kan en köksvåg användas. Sätt denna på noll i steg 6 ovan, och sluta hälla när önskad vattenvolym har uppnåtts.</p>
            <h2>Ja, jag spelade en del Dota 2 förr</h2>
            <p>Fördelat över <strong>60</strong> hjältar spelade jag <strong>131</strong> matcher i pubs när jag inte övade mot bottar eller såg repriser/turnéringar<sup class="footnote-ref"><a href="#fn1" id="fnref1">[1]</a></sup>. Min win rate stannade på <strong>38%</strong> (51 vinster, 80 förluster).</p>
            <h3>Två matcher</h3>
            <ul>
              <li>
            Axe</li><li>Dazzle</li><li>Disruptor</li><li>Enigma</li><li>Legion Commander</li><li>Lina</li><li>Mirana</li><li>Pudge</li><li>Shadow Demon</li><li>Tusk</li><li>Winter Wyvern</li><li>Wraith King</li></ul>
            <table><thead><tr><th style="text-align:right">Månad</th><th style="text-align:center">Vinster / Förluster (Abandons)</th><th style="text-align:left">Skillnad<sup class="footnote-ref"><a href="#fn2" id="fnref2">[2]</a></sup></th></tr></thead><tbody><tr><td style="text-align:right">April 2016</td><td style="text-align:center">26 / 38 (0)</td><td style="text-align:left">12</td></tr><tr><td style="text-align:right">Maj 2016</td><td style="text-align:center">24 / 29 (0)</td><td style="text-align:left">5</td></tr><tr><td style="text-align:right">Juni 2016</td><td style="text-align:center">1 / 13 (0)</td><td style="text-align:left">12</td></tr></tbody></table>

            <pre><code>/* --- portrait --- */
.portrait {
  display: block;
  height: auto;
  width: 100%;
  margin: 0;
}

@media (min-width: 666px) {
  .portrait {
    width: 75%;
    border-radius: 50%;
    margin: 2em auto;
  }
}
/* --- /portrait --- */</code></pre>

            <hr class="footnotes-sep">
            <section class="footnotes"><ol class="footnotes-list"><li id="fn1" class="footnote-item"><p>Inkluderar ej mina abandons eller helgspel: 0 respektive 4 matcher. Till helgspel räknas matcher av typen All Random Deathmatch, Ability draft och ett gäng säsongs- eller evenemangsbundna matchtyper. Roligt men inte statistikgrundande. <a href="#fnref1" class="footnote-backref">↩</a></p></li><li id="fn2" class="footnote-item"><p>Negativa värden innebär att det var fler vinster än förluster, och positivt tvärtom. Detta används främst för att visa framsteg mot 50% win rate. <a href="#fnref2" class="footnote-backref">↩</a></p></li><li id="fn3" class="footnote-item"><p>Köper man kompendiumet så får man ett nytt spelläge, som rekalibrerar ens MMR: 10 matcher solo, 10 matcher i party. Mycket välkommen feature. <a href="#fnref3" class="footnote-backref">↩</a></p></li></ol></section>

          </article>
    </main>
    <aside>
      <h2 class="h--aside">Senaste inläggen</h2>
      <ul class="recents">
        <li class="recents__item"><a href="a1">Gärning i ridderlighetens namn</a></li>
        <li class="recents__item"><a href="a1">Vad berättar mina program om mig?</a></li>
        <li class="recents__item"><a href="a1">Varför och hur jag ska fördjupa mig i React 2019</a></li>
        <li class="recents__item"><a href="a1">Varför och hur jag ska fokusera på att lära mig Elixir 2019</a></li>
        <li class="recents__item"><a href="a1">Angel Witch - Angel Witch #bl17</a></li>
      </ul>
        <h2 class="h--aside">Kommande evenemang</h2>
        <ul class="upcoming">
            <li class="upcoming__item" itemscope itemtype="http://schema.org/Event">
              <strong itemprop="name" class="upcoming__item__what">Mayhem</strong>
              <span class="visuallyhidden">på</span>
              <span 
                class="upcoming__item__where"
                itemprop="location"
                itemscope
                itemtype="http://schema.org/Place">
                <span itemprop="name">Fryshuset</span>, Stockholm
              </span>
              <time 
                datetime="2019-11-29"
                content="2019-11-29"
                class="upcoming__item__when"
                itemprop="startDate">
                <span>29</span>
                <span>nov</span>
              </time>
  
            <li class="upcoming__item">
              <strong class="upcoming__item__what">Wardruna</strong>
              <span class="visuallyhidden">på</span>
              <span class="upcoming__item__where">Annexet, Stockholm</span>
              <time datetime="2019-11-29" class="upcoming__item__when">
                  <span>1</span>
                  <span>dec</span>
                </time>
        </ul>
      </aside>
    <footer>
      <p>
        <a href=https://creativecommons.org/licenses/by-sa/4.0/ lang=en>CC BY-SA 4.0</a> 
        Anders Ytterström sedan dec 2006. 
        <a rel=alternate href=/prenumerera.xml>Prenumerera</a>.
      </p>
    </footer>
  </body>
</html>