<!doctype html>
<html lang=sv>
  <head>
    <meta charset=UTF-8>
    <title>Anders Ytterströms hemsida</title>
    <meta name=viewport content="width=device-width">
    <link rel=stylesheet title="madr.se stilmall" href=../../assets/madrse.css>
    <meta name=robots content=noindex,follow>
  </head>
  <body>
    <a href=#content class=skiplink>Hoppa till innehåll</a>
    <header>
      <img class="portrait" src="https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276" alt="Anders, september 2018.">
      <nav>
        <h2 class="visuallyhidden">Meny</h2>
        <a class="nav__item" href=/bl/ >🤘 Brütal Legend</a>
        <a class="nav__item" href=/evenemang/ >📅 Evenemang</a>
        <a class="nav__item" href=/agbok/ >🖼 Agbok</a>
      </nav>
    </header>
    <main id=content>
      <article class="teaser teaser--post">
        <h2 class="h--post">
            🖋 
              <a href=/2019/ridderligheten>
              Gärning i ridderlighetens namn
            </a>
          </h2>
        <footer class="teaser__footer">
          <time>2019-09-01</time> 
          <a rel=author href=/om>
            <img src=https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276 alt="Anders Ytterström"> 
            
          </a>
        </footer>
      </article>

      <article class="teaser teaser--image">
            <figure>
              <img src="https://placekitten.com/1024/768" alt="foto">
              <figcaption>Jag har två bengaler som vaktar mig när jag kodar. Internet och Cesar heter de.</figcaption>
            </figure>
          <footer class="teaser__footer">
              <a href=/2019/ridderligheten><time>2019-09-01</time></a>
            <a rel=author href=/om>
              <img src=https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276 alt="Anders Ytterström"> 
              
            </a>
          </footer>
        </article>

      <article hidden class="teaser teaser--album">
            <div class="thumbs">
              <figure><img src="https://placekitten.com/1024/768" alt="foto"></figure>
              <figure><img src="https://placekitten.com/1024/768" alt="foto"></figure>
              <figure><img src="https://placekitten.com/1024/768" alt="foto"></figure>
              <figure><img src="https://placekitten.com/1024/768" alt="foto"></figure>
              <figure><img src="https://placekitten.com/1024/768" alt="foto"></figure>
              <figure><img src="https://placekitten.com/1024/768" alt="foto"></figure>
            </div>
          </a>
          <footer class="teaser__footer">
              <a href=/2019/ridderligheten>
                <time>2019-09-01</time> 
              </a>
            <a rel=author href=/om>
              <img src=https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276 alt="Anders Ytterström"> 
              
            </a>
          </footer>
      </article>

      <article class="teaser teaser--link">
        <p>Jeremy Keith, om Gamla sociala nätverk vi kanske minns. </p>
        <blockquote>
          <p>
            Ignore the clickbaity headline and have a read of Whitney Kimball’s obituaries of Friendster, MySpace, Bebo, OpenSocial, ConnectU, Tribe.net, Path, Yik Yak, Ello, Orkut, Google+, and Vine.
          </p>
          <p>
              I’m sure your content on Facebook, Twitter, and Instagram is perfectly safe.
          </p>
        </blockquote>
        Källa: <a rel="external noopener noreferrer" href=/2019/ridderligheten>Gärning i ridderlighetens namn</a> ↗
          <footer class="teaser__footer">
            <a href="sdsds"><time>2019-09-01</time></a>
            <a rel=author href=/om>
              <img src=https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276 alt="Anders Ytterström"> 
              
            </a>
          </footer>
      </article>

      <article class="teaser teaser--post">
          <h2 class="h--post">🖋 <a href=/2019/ridderligheten>
            Varför och hur jag ska fördjupa mig i React under 2019</a></h2>
          
          <footer class="teaser__footer">
            <time>2019-09-01</time> 
            <a rel=author href=/om>
              <img src=https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276 alt="Anders Ytterström"> 
              
            </a>
          </footer>
      </article>

      <article class="teaser teaser--media">
            <figure>
            <img src="https://imagescdn.juno.co.uk/full/CS649047-01A-BIG.jpg">
          </figure>
          
            <h2 class="h--media">Amon Amarth - Bastards of the Lying Breed, från "The Crusher" (2001)</h2>
            <p class="teaser--media__summary">Skiva #13 i projektet <a href="sss">Brütal Legend</a> 🤘</p>
          <footer class="teaser__footer">
            <a href="aaaa"><time>2019-09-01</time></a>
            <a rel=author href=/om>
              <img src=https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276 alt="Anders Ytterström">
            </a>
          </footer>
      </article>

      <article class="teaser teaser--media">
          <figure>
            <img src="https://en.concerts-metal.com/images/flyers/201807/1532550111.jpeg">
          </figure>
          
            <h2 class="h--media">📆 Gelfe Metal Festival #4</h2>
            <div class="teaser--media__summary">
              <p>Festival på Gasklockorna, Gävle den 13-14 juli 2018.</p>
            <p>
              <b>Bäst:</b><br>Behemoth, Watain, Belphegor
            </p>
            <p>
              <b>Missade:</b><br>Cannibal Corpse
            </p>
            </div>
          <footer class="teaser__footer">
            <a href="aaaa"><time>2019-09-01</time></a>
            <a rel=author href=/om>
              <img src=https://sv.gravatar.com/avatar/981e98db0f85baaa05dddd1ee46a3276 alt="Anders Ytterström">
            </a>
          </footer>
      </article>
      <div class=pagination>
          <a rel=next href=/2>Äldre inlägg</a>
        </div>    
    </main>
    <aside>
      <h2 class="h--aside">Senaste inläggen</h2>
      <ul class="recents">
        <li class="recents__item"><a href="a1">Gärning i ridderlighetens namn</a></li>
        <li class="recents__item"><a href="a1">Vad berättar mina program om mig?</a></li>
        <li class="recents__item"><a href="a1">Varför och hur jag ska fördjupa mig i React 2019</a></li>
        <li class="recents__item"><a href="a1">Varför och hur jag ska fokusera på att lära mig Elixir 2019</a></li>
        <li class="recents__item"><a href="a1">Angel Witch - Angel Witch #bl17</a></li>
      </ul>
        <h2 class="h--aside">Kommande evenemang</h2>
        <ul class="upcoming">
            <li class="upcoming__item" itemscope itemtype="http://schema.org/Event">
              <strong itemprop="name" class="upcoming__item__what">Mayhem</strong>
              <span class="visuallyhidden">på</span>
              <span 
                class="upcoming__item__where"
                itemprop="location"
                itemscope
                itemtype="http://schema.org/Place">
                <span itemprop="name">Fryshuset</span>, Stockholm
              </span>
              <time 
                datetime="2019-11-29"
                content="2019-11-29"
                class="upcoming__item__when"
                itemprop="startDate">
                <span>29</span>
                <span>nov</span>
              </time>
  
            <li class="upcoming__item">
              <strong class="upcoming__item__what">Wardruna</strong>
              <span class="visuallyhidden">på</span>
              <span class="upcoming__item__where">Annexet, Stockholm</span>
              <time datetime="2019-11-29" class="upcoming__item__when">
                  <span>1</span>
                  <span>dec</span>
                </time>
        </ul>
      </aside>
    <footer>
      <p>
        <a href=https://creativecommons.org/licenses/by-sa/4.0/ lang=en>CC BY-SA 4.0</a> 
        Anders Ytterström sedan dec 2006. 
        <a rel=alternate href=/prenumerera.xml>Prenumerera</a>.
      </p>
    </footer>
  </body>
</html>