/********************************************************************
Main CSS file for madr.se.
Bring Anders Ytterström <yttan@fastmail.se> a 🍺 if you find 
something useful.

Colors used, dark theme
-----------------------

#222, #ddd  -- background and foreground colors
#444, #666  -- plate colors
gold        -- links
goldenrod   -- visited links
silver      -- headings
white       -- headings, focus/hover and emphazied text
deeppink    -- wow effects, focus outline
magenta     -- code

Colors used, light theme
------------------------

#fff, #333    -- background and foreground colors
#ddd, #bbb    -- plate colors
teal          -- links
black         -- visited links
silver        -- headings
black         -- headings, focus/hover and emphazied text
deeppink      -- wow effects, focus outline
purple        -- code

Breakpoints used
----------------

    @media (min-width: 666px) {}

Table of Contents, 7-1 inspired
-------------------------------

    1. Base
    2. Components
        2.1 Nav item
    3. Layout
        3.1. Header
        3.1. Nav
        3.1. Main
    4. Pages
    5. Themes
    6. Vendors
    7. Shame

*********************************************************************/

/* === 1. Base === */

/* 
Normalize and resets. 
Only element and attribute selectors allowed in this section. 
*/

:focus {
  outline: 4px solid deeppink;
}

html {
  color: #ddd;
  font: normal medium/1.4 apple-system, system-ui, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: #222;
}

figure {
  display: block;
  margin: 0;
}

strong,
i,
em,
b {
  color: #fff;
}

figure > img {
  max-width: 100%;
  display: block;
  height: auto;
}

article {
  line-height: 1.66;
}

figcaption {
  text-align: center;
  margin-top: 0.5em;
}

table {
  width: 100%;
}

td,
th {
  background: #444;
  padding: 0.25em;
  font-size: 0.8em;
}

th {
  text-transform: uppercase;
  color: white;
  background: #666;
  font-weight: normal;
}

li {
  color: white;
}

li::marker {
  color: silver;
}

blockquote {
  color: white;
  font-size: 1.2em;
  line-height: 1.2;
  font-style: italic;
  border-left: 5px solid #444;
  margin: 1em 1em 1em 0;
  padding-left: 1em;
}

blockquote p::after,
blockquote p::before {
  content: '"';
}

pre {
  max-width: 100%;
  overflow: auto;
}

code {
  color: magenta;
  font-size: 0.75em;
  font-family: monaco, consolas, monospace;
}

[rel="author"] > img {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  padding: 0 0.6em;
  border-radius: 50%;
}

abbr {
  cursor: help;
}

a:link {
  color: gold;
  transition: transform 0.3s;
}

a:hover,
a:focus {
  color: white;
}

a:visited {
  text-decoration: line-through;
  color: goldenrod;
}

a:visited::before {
  content: "✔ ";
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 3.33em;
  line-height: 0.95;
  margin: 0.5em 0;
  color: white;
}

@media (max-width: 666px) {
  h1 {
    margin: 1.4em 0;
  }
}

h2 {
  margin: 0.66em 0;
  color: white;
}
/* === /Base === */

/* === Components === */

/*
Use classes with BEM as naming convention. Avoid using element
selectors.
*/

/* --- visually hidden --- */
.visuallyhidden {
  position: absolute;
  left: -999em;
}
/* --- /visually hidden --- */
/* --- skip link --- */
.skiplink {
  position: absolute;
  left: 1em;
  top: -99em;
  background-color: gold;
  padding: 0.5em;
}

.skiplink:focus {
  color: black;
  top: 1em;
}
/* --- /skip link --- */
/* --- nav item --- */
.nav__item {
  padding: 0.5em;
  text-decoration: none;
  display: block;
}

.nav__item:hover,
.nav__item:focus {
  color: white;
}

@media (min-width: 666px) {
  .nav__item {
    font-size: large;
    display: block;
    position: relative;
    padding: 0.5em;
    z-index: 24;
    transition: color 0.3s;
    overflow: hidden;
  }

  .nav__item::before {
    content: "";
    background-color: deeppink;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transform: skewX(70deg) translateX(130%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav__item:hover::before {
    transform: skewX(0) translateX(0);
    opacity: 1;
  }

  .nav__item:focus {
    background: deeppink;
  }
}
/* --- /nav item --- */
/* --- headings --- */
.h--aside {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0 0 0.25em;
  color: silver;
}

.h--post {
  font-size: 2.5em;
  margin: 1em 0 0;
  line-height: 1.2;
}

.h--media {
  margin: 0;
  padding-bottom: 0;
  grid-area: title;
}
/* --- /headings --- */
/* --- recent posts --- */
.recents {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2em;
  margin-top: 0.5em;
}

.recents__item {
  margin: 0 0 0.75em;
}
/* --- /recent posts --- */
/* --- events --- */
.upcoming {
  padding-left: 0;
  list-style: none;
  line-height: 1;
}

.upcoming__item {
  margin: 1em 0;
  display: grid;
  gap: 0.33em 0.5em;
  grid-template-columns: 2em 1fr;
  grid-template-rows: 1.2em 1fr;
  grid-template-areas:
    "when what"
    "when where";
}

.upcoming__item__when {
  grid-area: when;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: center;
  text-align: center;
}

.upcoming__item__when :first-child {
  background: #666;
  color: white;
  line-height: 2;
}

.upcoming__item__when :last-child {
  background: #444;
  color: white;
  font-size: 0.8em;
  line-height: 1.6;
}

.upcoming__item__when::before {
  content: none;
}

.upcoming__item__what {
  grid-area: what;
  color: gold;
  font-weight: normal;
}

.upcoming__item__where {
  grid-area: where;
  font-size: 0.8em;
}
/* --- /events --- */
/* --- floats --- */
@media (min-width: 666px) {
  .align-right {
    float: right;
    margin-left: 1em;
  }
}
/* --- /floats --- */
/* --- portrait --- */
.portrait {
  display: block;
  height: auto;
  width: 100%;
}

@media (min-width: 666px) {
  .portrait {
    width: 75%;
    border-radius: 50%;
    margin: 2em auto;
  }
}
/* --- /portrait --- */
/* --- teaser --- */
.teaser {
  margin: 2em 0;
}

@media (min-width: 666px) {
  .teaser {
    margin: 5em 0;
  }
}

.teaser__footer {
  text-align: right;
  font-size: 75%;
  padding: 0.5em 0 0;
}

.teaser--media {
  display: grid;
  grid-template-areas:
    "media title"
    "media summary"
    "footer footer";
  grid-gap: 1em;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto 1fr;
}

.teaser--media :first-child {
  grid-area: media;
  height: auto;
}

.teaser--media__summary {
  grid-area: summary;
  margin: 0;
  padding: 0;
}
/* --- /teaser --- */
/* --- pagination --- */
.pagination {
  border-top: 2px solid gold;
  margin: 2em auto;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  background: #444;
}
/* --- /pagination --- */
/* --- presentation --- */
.presentation {
  margin: 2em auto;
  font-size: 80%;
  color: silver;
}
/* --- /presentation --- */
/* --- alert --- */
.alert--archived {
  max-width: 30em;
  margin: 2em auto;
  background: #000;
  padding: 7px 10px;
  box-shadow: 0 0 0 10px #000;
  border: 2px dashed white;
  background-clip: padding-box;
  transform: rotate(-2deg) translate(10px, 20px) scale(0.8);
  opacity: 0.33;
  border-radius: 3px;
  transition: opacity 0.3s, transform 0.3s;
}

.alert--archived:hover {
  opacity: 1;
  transform: initial;
}
/* --- /alert --- */
/* --- main --- */
@media (min-width: 666px) {
  main {
    grid-area: main;
  }
}
/* --- /main --- */
/* --- aside --- */
@media (min-width: 666px) {
  aside {
    grid-area: aside;
  }
}
/* --- /aside --- */
/* --- footer --- */
footer {
  text-align: center;
  padding: 2em 0;
  color: silver;
  font-size: smaller;
}

@media (min-width: 666px) {
  footer {
    grid-area: footer;
  }
}
/* --- /footer --- */
/* --- header --- */
header {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 30% 1fr;
}

@media (min-width: 666px) {
  header {
    display: block;
    grid-area: header;
  }
}
/* --- /header --- */
/* --- nav --- */
nav {
  border: 2px solid gold;
  border-width: 2px 0;
  background: #444;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 666px) {
  nav {
    border-width: 2px 2px 0 0;
    display: block;
  }
}
/* --- /nav --- */
/* === /Components === */

/* === Layout === */

/*
Containers and wrappers for components.
Only BEM-naming allowed, with the following element selectors as 
exceptions: aside, body, footer, header, main and nav.
*/

body {
  max-width: 60em;
  margin: 0 auto;
  padding: 0.5em;
}

@media (min-width: 666px) {
  body:not(.homepage) {
    display: grid;
    grid-template-areas:
      "header main"
      "aside main"
      "footer footer";
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2em;
    align-items: start;
  }
}
/* === /Layout === */

/* === Pages === */

/*
Styles that should only apply to certain pages.
Only BEM-naming allowed.
*/

/* === /Pages === */

/* === Themes === */

/*
Styles to create user-customized themes.
*/

@media (prefers-color-scheme: light) {
  :focus {
    outline-color: deeppink;
  }

  html {
    color: #444;
    background-color: #fff;
  }

  strong,
  i,
  em,
  b {
    color: #000;
  }

  td,
  th {
    background: #eee;
  }

  th {
    color: black;
    background: #ddd;
  }

  li {
    color: black;
  }

  li::marker {
    color: mediumseagreen;
  }

  blockquote {
    color: black;
    border-color: #ddd;
  }

  code {
    color: mediumvioletred;
  }

  a:link {
    color: teal;
  }

  a:hover,
  a:focus {
    color: black;
  }

  a:visited {
    color: lightseagreen;
  }

  h1 {
    color: black;
  }

  h2 {
    color: black;
  }

  .skiplink {
    background-color: teal;
  }

  .skiplink:focus {
    color: white;
  }

  .nav__item:hover,
  .nav__item:focus {
    color: black;
  }

  .nav__item::before {
    background-color: gold;
  }

  .h--aside {
    color: slategray;
  }

  .upcoming__item__when :first-child {
    background: #ddd;
    color: black;
  }

  .upcoming__item__when :last-child {
    background: #eee;
    color: black;
  }

  .upcoming__item__what {
    grid-area: what;
    color: mediumvioletred;
    font-weight: normal;
  }

  .pagination {
    border-color: teal;
    background-color: #eee;
  }

  .presentation {
    color: slategray;
  }

  .alert--archived {
    background-color: #aaa;
    border-color: #aaa;
    box-shadow: 0 0 0 10px #aaa;
  }

  footer {
    color: slategray;
  }

  nav {
    border-color: teal;
    background: #eee;
  }
}

/* === /Themes === */

/* === Vendors === */

/*
Styles belonging to third-party components.
*/

.footnotes-list {
  color: silver;
  font-size: 80%;
}

/* === /Vendors === */

/* === Shame === */

/*
Styles necessary for specifity issues and for cutting corners
(breaking the rules in short terms in waiting for an opportunity
to rewrite or fix a problem for good).

madr.se has no reason to feel ashamed. Yet.
*/

/* === /Shame === */
