<footer>
  <p>
    {{#if date}}
    Publicerades <time>{{ date }}</time>.
    {{/if}}
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" lang="en">CC BY-SA 4.0</a> av Anders Ytterström sedan dec
    2006.
    <a rel="alternate" href="{{#if date}}../{{/if}}../prenumerera.xml">Prenumerera</a>. Korrekt HTML5 och CSS 3.
  </p>
</footer>