<footer>
  <p>
    {{#if date}}
    Publicerades <time>{{ date }}</time>.
    {{/if}}
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" lang="en">CC BY-SA 4.0</a> av Anders Ytterström sedan dec
    2006.
    <a rel="alternate" href="{{relroot}}prenumerera.xml">Prenumerera</a>. Korrekt HTML5 och
    <a href="https://www.quirksmode.org/blog/archives/2020/01/css4_is_here.html">CSS4</a>.
  </p>
</footer>