<footer>
  <p>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" lang="en">CC BY-SA 4.0</a> av Anders Ytterström sedan dec 2006.
    <a rel="alternate" href="/prenumerera.xml">Prenumerera</a>.
  </p>
</footer>