 <a href="#content" class="skiplink">Hoppa till innehåll</a>
<header>
  <a href="/" rel="home">madr.se</a> 
  <nav>
    <a href="/brutal-legend">Brütal Legend</a>
    <a href="/evenemang">Evenemang</a>
    <a href="/musik">Musik</a>
    <a href="/om">Anders</a>
  </nav>
</header>