<article class="teaser teaser--post">
  <figure>
    <img src="{{ img }}" alt="foto" loading="lazy">
    <figcaption>{{{ content }}}</figcaption>
  </figure>
  <footer class="teaser__footer">
    <a href="../{{ path }}"><time>{{ date }}</time></a>
    <a rel="author" href="../om">
      <img src="../mugshot.jpg" alt="Anders Ytterström" loading="lazy">
    </a>
  </footer>
</article>