<article class="teaser teaser--post">
  <h2 class="h--post">
    <a href="{{relroot}}{{ path }}">
      {{ title }}
    </a>
  </h2>
  <footer class="teaser__footer">
    <time>{{ date }}</time>
  </footer>
</article>