<article class="teaser teaser--post">
  <h2 class="h--post">
    <a href="../{{ path }}">
      {{ title }}
    </a>
  </h2>
  <footer class="teaser__footer">
    <time>{{ date }}</time>
    <a rel="author" href="../om">
      <img src="../mugshot.jpg" alt="Anders Ytterström">
    </a>
  </footer>
</article>