<!doctype html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>{{ name }}</title>
  <meta name="viewport" content="width=device-width">
  <!-- <link rel="stylesheet" title="madr.se stilmall" href="/madrse.css"> -->
  <meta name="robots" value="noindex,nofollow">
</head>
<body>
  {{> header }}
  <main id="content">
    <h1>{{ title }}</h1>
    {{#each pagination.files}}
      <a href="{{path}}">{{title}}</a>
    {{/each}}
  </main>
  {{> footer }}
</body>
</html>