<!doctype html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="robots" content="noindex,nofollow">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" title="madr.se stilmall" href="/madrse.css">
</head>
<body>
  <a href="#content" class="skiplink">Hoppa till innehåll</a>
  <header>
    <a href="/" rel="home">madr.se</a>
    <nav>
      <a href="/brutal-legend">Brütal Legend</a>
      <a href="/evenemang">Evenemang</a>
      <a href="/musik">Musik</a>
      <a href="/om">Anders</a>
    </nav>
  </header>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  {{{ contents }}}
  {{#each pagination.files}}
    <a href="{{path}}">{{title}}</a>
  {{/each}}
  <footer>
    <p>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" lang="en">CC BY-SA 4.0</a> av Anders Ytterström sedan dec 2006.
      <a href="/colophone">Colophone</a>.
    </p>
  </footer>
</body>
</html>